<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="User">
  <h1>User Info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>Account Name: <%= @current_user.name %></p>
  <p>introduction: <%= @current_user.introduction %></p>

  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<div class="New book">
  <%= form_with model: Book.new do |f| %>
    <h1>New book</h1>
    <p>Title</p>
    <%= f.text_field :title %>
	
    <p>Opinion</p>
    <%= f.text_area :body %>
	
    <%= f.submit 'Create Book' %>
  <% end %>
</div>

<h1>Books</h1>
<table>
  <% @books.each do |book| %>
    <%= link_to user_path(book.user_id) do %>
      <%= image_tag book.user.get_profile_image(100,100) %>
    <% end %>
    <%= link_to book.title, book_path(book.id) %>
      <p><%= book.body %></p>
    <% end %>
</table>
