<div class="User">
  <h1>User Info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>Account Name: <%= @current_user.name %></p>
  <p>introduction: <%= @current_user.introduction %></p>

  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<div class="New book">
  <%= form_with model: Book.new do |f| %>
    <h1>New Book</h1>
    <p>Title</p>
    <%= f.text_field :title %>
	
    <p>Opinion</p>
    <%= f.text_area :body %>
	
    <%= f.submit 'Create Book' %>
  <% end %>
</div>

<h1>Book detail</h1>
<%= image_tag @user.get_profile_image(100,100) %>
<p><%= link_to @user.name, user_path(@user.id) %></p>
<p><%= link_to @book.title, book_path(@book.id) %></p>
<p><%= @book.body %></p>
<%= link_to "Edit", edit_book_path(@book.id) %>
<p><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %></p>
